body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita las barras de desplazamiento */
    height: 100%;
    width: 100%;
    
}

h1{
    font-weight: bold;
    font-size: 50px;
}
h2{
    font-size: 18px;
}
p{
    font-size: 15px;
}
header {
    display: flex;
    background-color: white;
    padding: 20px;
    justify-content: center;
    position: relative; /* Asegura que el contenido esté por encima del fondo */
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
}

.profile {
    display: flex;
    
}

.profile img {
    border-radius: 50%;
    width: 320px;
    height: 200px;
    margin-right: 20px;
    /*z-index: 1;*/
}

.profile-info {
    max-width: 600px;
}

.profile-info h2 {
    color: gray;
}

nav {
    background-color: #5f5fef;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.welcome-section {
    background-color: #5f5fef;
    color: white;
    text-align: justify;
    padding: 100px;
    border-radius: 20px;
    margin: 20px;
}

.redesYcv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px;
}
.cv-div{
    display: flex;
    justify-content: flex-end;
}
.download-cv {
    background-color: white;
    color: #5f5fef;
    padding: 10px 20px;
    border-radius: .5rem;   
}



/*Animacion Fondo*/

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%; /* El doble del ancho para permitir la animación continua */
    height: 200%; /* El doble de la altura para permitir la animación continua */
    background-image: url('/media/img/Fondo\ de\ pantalla.png'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    animation: moveBackground 10s linear infinite;
    z-index: -1;
}

@keyframes moveBackground {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}